.error{
    border-color: red;
}

.rc-slider-mark{
    z-index: 1;
}

.error-check{
    display: inline;
    border: 1px solid red;
    box-shadow: 0px 0px 2px 0px #b7121f;
}

.check{
    box-shadow: 0px 0px 2px 0px #337ab7;
}

.input{
    width: 50px;
    border: none;
    /*display: none;*/
}

.pointer{
    cursor: pointer;
}